*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Orbitron";
  src: url(/fonts/Orbitron-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Orbitron";
  src: url(/fonts/Orbitron-Bold.ttf) format(truetype);
  font-weight: 700;
}

* {
  font-family: "Orbitron";
}

html, body, main {
  background-color: #2a2625;
  color: aliceblue;
  max-width: auto;
  font-family: "Orbitron";
}

h1, 
h2, 
p, 
a {
  margin-top: 25px;
}

ul, 
li {
  margin-left: 35px;
  margin-top: 10px;
}


hr {
  margin: 25px 35px ;
}

img {
  width: 95%;
  max-height: 650px; /* Ajuste selon ton besoin */
  display: block;
  margin: auto;
}

section, 
footer {
  margin: 25px 35px;
}

.header-title {
  text-align: center;
  margin-bottom: 35px;
  padding-top: 35px;
}

.header-nav a {
  color: white;
  text-decoration: underline;
}

.header-nav a:hover,
.footer-nav a:hover,
.contact a:hover {
  text-decoration: none;
  color: orange;
  transition: color 0.3s;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}

.contact a {
  text-decoration: underline;
  color: white;
}

.contact a:hover {
  text-decoration: none;
  color: orange;
}

.competences h2 {
  margin-bottom: 10px;
}

.forma {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experiences {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav a {
  text-decoration: underline;
  color: white;
}

.footer-nav a:hover {
  text-decoration: none;
  color: orange;
}

@media (max-width: 742px) {
  .header-info {
    position: relative;
  }
  .header-nav {
    float: none;
    text-align: center;
    margin-bottom: 15px;
  }
  .header-nav a {
    display: inline-block;
    margin: 0px 5px 5px 5px;
    white-space: nowrap;
  }
}
